.grid{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    background-color: aqua;

}

.grid div{
    width: 20px;
    height: 20px;
    /* background-color: red; */
    /* border: 1px solid black; */
}

.snake{
    background-color: blue;
}

.apple{
    background-color: red;
}